.button {
   background-color: hsl(180, 100%, 25%);
   color: white;
   padding: 10px;
   border: none;
}

.button:hover {
   background-color: hsl(180, 100%, 35%);
}

.button:active {
   background-color: hsl(180, 100%, 45%);
}

.list__button {
   color: white;
   width: 30px;
   height: 30px;
}

.list__button--toggleDone {
   background: rgb(17, 251, 33);
   color: white;
   align-self: center;
}

.list__button--remove {
   background-color: red;
}