.form {
   background-color: aliceblue;
   padding: 20px;
   display: flex;
   flex-direction: row;
   flex-grow: 2;
   /* flex-shrink: 1; */


}

.form__heading {
   border-bottom: 1px solid grey;

}

.form__input {
   max-width: 500px;
   display: flex;
   flex-grow: 1;
   margin: 15px;
   justify-content: flex-start;
}

@media (max-width: 767px) {
   .form {
      flex-direction: column;
      flex-wrap: wrap;
   }


}