.form {
   background-color: aliceblue;
   padding: 20px;
   display: flex;
   flex-direction: row;
   flex-grow: 2;
}

.form__heading {
   border-bottom: 1px solid grey;
}

.form__input {
   padding: 10px;
   display: flex;
   flex-grow: 1;
}

@media (max-width: 767px) {
   .form {
      flex-direction: column;
      flex-wrap: wrap;
   }

   .button {
      margin: 10px 0px 0px 0px;
   }
}