.sectionInput {
   border: 1px solid grey;
   background-color: aliceblue;
   padding: 15px;
   margin: 0 0 8px 0;
}

.sectionListTasks {
   border: 1px solid grey;
   background-color: aliceblue;
   padding: 15px;
}

.sectionListTasks__heading {
   border-bottom: 1px solid grey;
}