.section {
   margin: 10px 0;
   background-color: white;
   box-shadow: 0 0 5px #ddd;
}

.section__heading {
   border-bottom: 1px solid #ddd;
   padding: 20px;
   font-size: 20px;
   margin: 0;
}

.section__body {
   padding: 20px;
}